form {
  margin: auto;
  position: relative;
  width: 800px;
  height: 1040px;
  color: black;
  font-family: times;
  font-size: 18px;
  font-style: italic;
  line-height: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); 
  background: rgba(0, 0, 0, 0.7);
  color: #CC7722;
  text-align: left;
}

textarea:focus, input:focus {
    color: black;
}


input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  left: 50%;
  margin-left: 350px;
}

button {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #CC7722;
  color: white;
  font-family: times;
  height: 30px;
  border-radius: 25px;
  border: 0.5p ;
}

input.button:hover {
  background: #fff;
  color: #09C;
}

textarea#feedback {
  width: 375px;
  height: 100px;
  display: block;
}